body {
  font-size: 1.8rem;
}

body header h1 {
  font-size: 4rem;
  text-align: center;
}
h1 img.emoji {
  width: 4rem;
}

img.emoji {
  width: 1.8rem;
}

figure {
  margin: 0.2em auto;
  padding: 1em 1em 0.5em 1em;
  background-color: #d4e9ff;
  width: 224px;
  text-align: center;
}

@media (min-width: 600px) {
  figure {
    float: left;
    margin: 0 1em 1em;
  }
}

footer {
  clear: both;
}
